<div
        *ngIf="p.title"
        class="card"
      >
        <img src="{{ p.imageUrl }}" class="card-img-top" alt="{{p.title}}" />
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="card-text">{{ p.price | currency: "USD":"symbol" }}</p>
         
        </div>
        <div class="card-footer d-grid gap-2" *ngIf="showActions">
             <button *ngIf="getQuantity()===0; else updateQuantity" (click)="addToCart()" class="btn btn-warning">Add to Cart</button>
             <ng-template #updateQuantity>
               <div class="row gx-2" style="display:flex;align-items:center">
                 <div class="col-2">
                   <button (click)="removeFromCart()" class="btn btn-secondary">-</button>
                 </div>
                 <div class="col text-center">
                  {{getQuantity()}} in cart
                 </div>
                   <div class="col-2">
                   <button (click)="addToCart()" class="btn btn-secondary">+</button>
                 </div>
               </div>
             </ng-template>
             
        </div>
      </div>
