<div class="position-sticky top-0">
  <div class="list-group">
    <a
      routerLink="/"
      class="list-group-item list-group-item-action"
      [class.active]="!category"
      >All Categories</a
    >
    <a
      routerLink="/"
      [queryParams]="{ category: productIds[i]?.key }"
      [class.active]="category === productIds[i]?.key"
      *ngFor="let c of categories$ | async; let i = index"
      class="list-group-item list-group-item-action"
      >{{ c.name }}</a
    >
  </div>
</div>
