<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          #title="ngModel"
          required
          ngModel
          name="title"
          id="title"
          type="text"
          class="form-control"
          [(ngModel)]="product.title"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            #price="ngModel"
            min="0"
            pattern="^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$"
            required
            ngModel
            name="price"
            id="price"
            type="number"
            class="form-control"
            [(ngModel)]="product.price"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            price.touched &&
            (price.errors != null ? price.errors['required'] : price.errors)
          "
        >
          Price is required.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            price.touched &&
            (price.errors != null ? price.errors['pattern'] : price.errors)
          "
        >
          Price should greater than zero with up to two decimal places.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <select
          #category="ngModel"
          required
          ngModel
          name="category"
          id="category"
          class="form-control"
          [(ngModel)]="product.category"
        >
          <option value=""></option>
          <option
            *ngFor="let c of categories$ | async; let i = index"
            [value]="values[i]?.key"
          >
            {{ c.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Category is required.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="imageUrl">Image URL</label>
        <input
          #imageUrl="ngModel"
          pattern="(http|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])?"
          required
          ngModel
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          [(ngModel)]="product.imageUrl"
        />

        <div
          class="alert alert-danger"
          *ngIf="
            imageUrl.touched &&
            (imageUrl.errors != null
              ? imageUrl.errors['required']
              : imageUrl.errors)
          "
        >
          Image URL is required
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            imageUrl.touched &&
            (imageUrl.errors != null
              ? imageUrl.errors['pattern']
              : imageUrl.errors)
          "
        >
          Image URL should be of the form http://www.mysite.com
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="f.invalid" [ngClass]="{'btn-secondary':f.invalid}">Save</button>
      <button *ngIf="id && id!='new'" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>
