  <div class="row gx-2" style="display:flex;align-items:center">
                 <div class="col-2">
                   <button (click)="removeFromCart()" class="btn btn-secondary">-</button>
                 </div>
                 <div class="col text-center">
                  {{shoppingCart.getQuantity(p)}} in cart
                 </div>
                   <div class="col-2">
                   <button (click)="addToCart()" class="btn btn-secondary">+</button>
                 </div>
               </div>
